
            .mdcc-popup__button--primary {
                background-color: #0073aa;
                border-color: #0073aa;
            }
            .mdcc-popup__button--primary:hover,
            .mdcc-popup__button--primary:focus {
                background-color: #0073aadd;
                border-color: #0073aadd;
            }
        